<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Campfire - A Blog API</title>
  <meta name="description" content="Campfire API">
  <meta name="author" content="Jacob Reed">
<body>
    <div>
      <img src="../static/img/fire.png" alt="campfire.png">
    </div>
</body>