<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Campfire - A Blog API</title>
  <meta name="description" content="Campfire API">
  <meta name="author" content="Jacob Reed">
<body>
    <h1>Welcome to Campfire!</h1>
    <h3>Config Info:</h3>
    <ul>
      <li>IP: {{ip}}</li>
    </ul>
</body>